<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ingot-local-feed" value="./dist/local-nuget-feed" />
  </packageSources>
  <config>
    <add key="defaultPushSource" value="./dist/local-nuget-feed" />
  </config>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Ingot.*" />
    </packageSource>
    <packageSource key="ingot-local-feed">
      <package pattern="Ingot.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
